run = "npm run start"
entrypoint = "app/page.tsx"
modules = ["nodejs-20", "web", "nix"]
hidden = [".next", "node_modules"]

[nix]
channel = "stable-25_05"

[env]
NODE_ENV = "production"
NEXT_TELEMETRY_DISABLED = "1"

[deployment]
run = ["sh", "-c", "npm run start"]
build = ["sh", "-c", "npm run db:setup && npm run build"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80

[workflows]
runButton = "Dev"

[[workflows.workflow]]
name = "Dev"
mode = "sequential"
author = 0

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install && npm run db:setup && npm run dev"
